<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>PWD MIS</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap-offcanvas/dist/css/bootstrap.offcanvas.min.css">
    <link rel="stylesheet" href="/font-awesome/dist/css/font-awesome.css">
    <link rel="stylesheet" href="/noty/demo/animate.css">
    <link rel="stylesheet" href="/form-wizard/prettify.css">
    <link rel="stylesheet" href="/sweetalert-master/dist/sweetalert.css">
    <link rel="stylesheet" href="/datatables/datatables.css">
    <link rel="stylesheet" href="/keyboard/jquery.virtual_keyboard.css">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
