<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a  href="#">
            <img src="/img/logo.png" alt="">
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <% if(user.role == "admin"){ %>
                  <li class="nav-items"><a href="/dashboard" class="nav-links">Dashboard</a></li>
            <% } %>
            <% if(user.role == "user"){ %>
                  <li class="nav-items"><a href="/announcements" class="nav-links">Announcements</a></li>
            <% } %>
            <% if(user.role == "admin" || user.role == "brgy_staff"){ %>
              <li class="dropdown nav-items">
                <a href="/announcements" class="dropdown-toggle nav-links" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Annoucements <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <% if(user.role != "user"){ %>
                      <li><a href="/announcements/create">New</a></li>
                      <li><a href="/announcements/manage">Manage</a></li>
                  <%} %>
                  <li><a href="/announcements">Annoucement List</a></li>

                </ul>
              </li>
            <%}%>
            <% if(user.role == "admin" || user.role == "brgy_staff"){ %>
              <li class="dropdown nav-items">
                <a href="#" class="dropdown-toggle nav-links" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">PWDs <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/pwds/create_account">New</a></li>
                  <li><a href="/pwds">Manage</a></li>
                </ul>
              </li>
            <% } %>
            <% if(user.role == "admin"){ %>
              <li class="dropdown nav-items">
                <a href="#" class="dropdown-toggle nav-links" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Staffs<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/staffs/create">New</a></li>
                  <li><a href="/staffs">Manage</a></li>
                </ul>
              </li>
            <% } %>
            <% if(user.role == "user"){ %>
              <li class="dropdown nav-items">
                <a href="announcements" class="dropdown-toggle  nav-links" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Requests <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/requests/create">New</a></li>
                  <li><a href="/requests">My requests</a></li>
                </ul>
              </li>
            <% } %>
            <% if(user.role == "admin" || user.role =="brgy_staff"){ %>
                <li class="nav-items"><a href="/requests" class="nav-links">Requests</a></li>
            <% } %>
            <% if(user.role == "user"){ %>
                <li class="nav-items"><a href="/pwds/my_profile" class="nav-links">Profile</a></li>
            <% } %>
             <li class="nav-items"><a href="/logout" class="nav-links">Logout<span class="sr-only "></span></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
