<script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/bootstrap-offcanvas/dist/js/bootstrap.offcanvas.min.js"></script>
<script type="text/javascript" src="/tinymce/js/tinymce/jquery.tinymce.min.js"></script>
<script type="text/javascript" src="/jquery-validation/dist/jquery.validate.min.js"></script>
<script type="text/javascript" src="/jquery-validation/dist/additional-methods.min.js"></script>
<script type="text/javascript" src="/tinymce/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="/form-wizard/jquery.bootstrap.wizard.min.js"></script>
<script type="text/javascript" src="/form-wizard/prettify.js"></script>
<script type="text/javascript" src="/sweetalert-master/dist/sweetalert.min.js"></script>
<script type="text/javascript" src="/moment/moment.js"></script>
<script type="text/javascript" src="/paginate/jquery.paginate.min.js"></script>
<script type="text/javascript" src="/datatables/datatables.js"></script>
<script type="text/javascript" src="/webcam/webcam.min.js"></script>

</body>
