<script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/bootstrap-offcanvas/dist/js/bootstrap.offcanvas.min.js"></script>
<script type="text/javascript" src="/stellar/dist/jquery.stellar.min.js"></script>
<script type="text/javascript" src="/jquery-validation/dist/jquery.validate.min.js"></script>
<script type="text/javascript" src="/jquery-validation/dist/additional-methods.min.js"></script>
</body>
