<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>PWD Information Management | Pasig Gov </title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap-offcanvas/dist/css/bootstrap.offcanvas.min.css">
    <link rel="stylesheet" href="/font-awesome/dist/css/font-awesome.css">
    <link rel="stylesheet" href="/noty/demo/animate.css">
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body>
