<footer>
  <div class="text-center">
    <h2>Follow us on</h2>
    <ul>
      <li><a href="#">
        <img src="/img/facebook.png" alt="">
      </a></li>

      <li><a href="#">
        <img src="/img/instagram.png" alt="">
      </a></li>

      <li><a href="#">
        <img src="/img/twitter.png" alt="">
      </a></li>

      <li><a href="#">
        <img src="/img/viber.png" alt="">
      </a></li>

      <li><a href="#">
        <img src="/img/google-plus.png" alt="">
      </a></li>
    </ul>
  </div>
</footer>
