<% include ../../partials/app_header %>
<% include ../../partials/app_nav %>

<section id="announcements-section">
  <div class="container main-container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <h2>Announcement</h2>
        <hr>
        <form id="announcementForm" method="post">
          <div class="form-group">
            <label>Title</label>
            <input type="text" name="title" value="" class="input-lg form-control">
          </div>
          <div class="form-group">
            <label>Content</label>
            <textarea name="content"  class="form-control" rows="8"></textarea>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-lg btn-default" id="publishContent">Publish</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<% include ../../partials/app_vendors %>
<script type="text/javascript" src="/js/announcements_form.js"></script>
<% include ../../partials/app_footer %>
