<% include ../../partials/app_header %>
<% include ../../partials/app_nav %>

<section id="announcements-section">
  <div class="container main-container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <h2>Announcements</h2>
        <hr>
        <table class="table" id="annTbl">
          <thead>
            <th>Title</th>
            <th>Type</th>
            <th>Date Created</th>
            <th>Actions</th>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<% include ../../partials/app_vendors %>
<script type="text/javascript" src="/js/manage_ann.js"></script>
<% include ../../partials/app_footer %>
