<% include ../../partials/landing_header %>
<% include ../../partials/landing_nav %>

<section id="hero-section" data-stellar-background-ratio="0.5">
  <div class="container">
    <h1 class="text-center">Together we can conquer disabilities</h1>
    <h3 class="text-center">With our system, we empower our citizen with disabilities. Help them reach their dream</h3>
  </div>
</section>
<section id="marketing-section">
  <div class="container">
    <div class="col-lg-6" id="laptop-container">

    </div>
    <div class="col-lg-6" id="market-line-container">
      <h2>More than an application</h2>
      <p>PWD Information Management empowers our citizens with disabilites. Help the to be connected in the society and be part of the community. With the help of the LGUs and their families</p>
    </div>
  </div>
</section>

<section id="services-section">
  <div class="container">
      <h2 class="text-center">Access all the services instantly</h2>
      <p class="text-center">Easily access all the services without any hassle from registration to claiming your request</p>
      <div class="row">
        <div class="col-lg-6">
          <div id="id-sys"></div>
        </div>

        <div class="col-lg-6">
          <div id="mdr"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div id="requests"></div>
        </div>

        <div class="col-lg-6">
          <div id="analytics"></div>
        </div>
      </div>
  </div>
</section>

<section id="notif-section">
  <div class="container">

    <div class="col-lg-6" id="notif-description-container">
      <h2>Be updated and get notified</h2>
      <p>Your always notified when the is an annoucement or activies for the PWD community. Once your ID is ready or even the status of your request</p>
    </div>
    <div class="col-lg-6" id="notif-container">

    </div>
  </div>
</section>
<section id="getting-started-section" >
  <div class="container">
    <div class="col-lg-6">
      <h2>Get started now</h2>
      <p>PWD Information Management is ready to go. Simply register using your device or go to the nearest barangay hall to use a kiosk</p>
      <a href="#" class="btn btn-info btn-lg">Signup Now</a>
    </div>
    <div class="col-lg-6"></div>

  </div>
</section>
<% include ../../partials/landing_vendors %>
<script type="text/javascript" src="/js/index_page.js"></script>
<% include ../../partials/landing_footer_elem %>
<% include ../../partials/landing_footer %>
