<% include ../../partials/landing_header %>

<section id="login-section">
  <div class="container">
      <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="text-center">
                <img src="/img/biglogo.png" alt="">
                <h2>PWD MIS</h2>
              </div>
              <form id="loginForm" method="post">

                <div class="form-group">
                  <label>Email</label>
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user-o"></i></span>
                    <input type="text" name="email" class="input-lg form-control" value="">
                  </div>
                </div>
                <div class="form-group">
                  <label>Password</label>
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-key"></i></span>
                    <input type="password" name="password" class="input-lg form-control" value="">
                  </div>
                </div>
                <div class="form-group text-center">
                  <button type="submit" class="btn btn-default btn-lg btn-block">Login</button>
                  <a href="signup">Sign Up</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>
<% if(message.length > 0) { %>
<script type="text/javascript">
  var message =  '<%= message %>';
</script>
<% } %>

<% if(signUpSuccess.length > 0) { %>
<script type="text/javascript">
  var signUpSuccess =  '<%= signUpSuccess %>';
</script>
<% } %>

<% include ../../partials/landing_vendors %>
<script type="text/javascript" src="/noty/js/noty/packaged/jquery.noty.packaged.min.js"></script>
<script type="text/javascript" src="/js/login.js"></script>
<% include ../../partials/landing_footer %>
