<% include ../../partials/app_header %>
<% include ../../partials/app_nav %>
<section id="pwd-listing">
  <div class="container main-container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <h2>PWDs</h2>
        <hr>
        <table class="table" id="pwdTable">
          <thead>
              <th>PWDID</th>
              <th>Name</th>
              <th>Barangay</th>
              <th>Disability</th>
              <th>Actions</th>
          </thead>
        </table>
      </div>
    </div>
  </div>
</section>


<% include ../../partials/app_vendors %>
<script type="text/javascript" src="/js/pwds.js"></script>
<% include ../../partials/app_footer %>
