<% include ../../partials/app_header %>
<% include ../../partials/app_nav %>

<section id="request-listing">
  <div class="container main-container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <h2>Requests</h2>
        <hr>
        <table class="table" id="staffList">
          <thead>
            <th>Staff ID</th>
            <th>Name</th>
            <th>Barangay Assignment</th>
            <th>Actions</th>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<% include ../../partials/app_vendors %>
<script type="text/javascript" src="/js/staffs.js"></script>
<% include ../../partials/app_footer %>
